<style>
	img {
    float: left;
    border-radius: 5%;
    margin-bottom: 15px;
	
	}


	p {
		float: right;
		font-size: 16px;
		
	}

	h3 {
		text-align: center;
	}
</style>



<h1>About Me</h1>
<div class="col-md-12">
	<div class="col-md-6">
		<img class="img-responsive"src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/312932_2258881631421_1990752930_n.jpg?oh=a4ae760bf2f8a2d31792bf33a1b67c3e&oe=56C93E18" alt="">
	</div>
	<div class="col-md-6">

		
		<p>
			Hi my name is Palermo Deschamps and I am a full stack web developer who studied marketing, business management, and fine arts in college. My stack is ruby, rails, html5, css3, javascript, jquery, bootstrap, and a little bit of node. 

			I've built my own startup from the ground up, and have gained valuable experience in all fields regarding the tech business. I also have an eye for composition and design after studying fine art at the Academy of Art University for a year.

			After art school I attended Golden Gate University to study Business Management and Marketing. I began consulting tech entrepreneurs and programers on their startups and ideas, shortly before starting a startup of my own. 

			I am a very ambitious and creative person with high standards for excellence. I'm in love with the tech industry and will certainly be an asset to any organization.  

			Contact Me for more info -
			palermo.deschamps@gmail.com   415-580-9088
		</p>
	</div>
</div>