<style>
	@media (max-width: 600px) {
    #stick_man {
    margin-top: 110px;
  }
}

    @media (max-width: 900px) {
    #stick_man {
    margin-top: 110px;
  }
}
</style>





<center>
<div class="col-md-10 walking">
<img id="stick_man"class="img-responsive stick_man" src="http://www.optimbirou.ro/wp-content/uploads/2015/06/animatie.gif" alt="">
</div>
</center>

