<style>
	img {
		width: 100%;
		height: auto !important;
	}

    .item {
		margin-bottom: 15px;
	}
</style>





<h1>Portfolio</h1>
<center>
<div class="col-md-12">
	<div class="col-md-6 item">
		<a href="http://truefalse.herokuapp.com/"><img class="img-reponsive"src="https://s3.amazonaws.com/poly-screenshots.angel.co/Project/9b/18252/d994f4b9ee0bc05765071243f3e89026-original.png" alt=""></a>
		<h1>Backbone.js  Trivia Game</h1>
	</div>
	<div class="col-md-6 item">
		<a href="http://www.puckermob.com/"><img class="img-reponsive"src="https://s3.amazonaws.com/pucker-mob/images/puckermob.png" alt=""></a>
		<h1>PHP Puckermob.com CMS</h1>
	</div>
</div>


<div class="col-md-12 item">
	<div class="col-md-6">
		<a href="http://gotham.herokuapp.com/"><img class="img-responsive" src="https://s3.amazonaws.com/pucker-mob/images/gotham.png" alt=""></a>
		<h1>Ruby on Rails Social Network</h1>
	</div>
	<div class="col-md-6 item">
		<a href="http://www.dezzmo.com/"><img class="img-reponsive"src="https://s3.amazonaws.com/pucker-mob/images/dezz.png" alt=""></a>
		<h1>Product Mgmt/UI Dezzmo</h1>
	</div>
</div>
</center>