<h1>Resume</h1>

<div class="col-md-12">
	<div class="col-md-12 resume">
		<h1>Sequel Media International</h1>
		<center><h3>Main Laungage: PHP/Laravel</h3></center>
		<center>
		<div class="col-xs-12 lists">
		<p>Architected and decided technologies to use in rebuild of puckermob</p>
		<p>Rebuilt Puckermob.com from a vanilla php codebase into a laravel 5.1 codebase.</p>
		<p>Built virtual servers and load balancers with DigitalOcean to handle large amounts of traffic</p>
		<p>Built responsive web pages using twitter bootstrap and blade</p>
		<p>Implemented Redis cache on static assets for speed</p>
		</div>
		</center>
	</div>
	<div class="col-md-12">
		<h1>Cools</h1>
		<center><h3>Main Laungage: Javascript/Node</h3></center>
		<center>
		<div class="col-xs-12 lists">
		<p>Program web pages using html5, css3, jquery, javascript, coffeescript, and backbone</p>
		<p>Built responsive web pages using twitter bootstrap and handlebars</p>
		<p>Programed backend in node and express</p>
		<p>Managed mysql database</p>
		<p>Set up dev environments </p>
		</div>
		</center>
	</div>
	<div class="col-md-12">
		<h1>TD Ameritrade</h1>
		<center><h3>Main Laungage: Javascript/Dojo</h3></center>
		<center>
		<div class="col-xs-12 lists">
		<p>Implemented analytics in promotion modules </p>
		<p>Conducted accessibility audits and fixed errors </p>
		<p>Worked in teams to drawdown tools</p>
		</div>
		</center>
	</div>
	<div class="col-md-12">
		<h1>Dezzmo</h1>
		<center><h3>Main Laungage: Ruby/Rails</h3></center>
		<center>
		<div class="col-xs-12 lists">
		<p>Architected and decided technologies to use in rebuild of puckermob</p>
		<p>Managing developers</p>
		<p>Building business and marketing strategies </p>
		<p>Manage social media outlets</p>
		<p>Fundraising</p>
		<p>Fundraising</p>
		<p>Directing user experience</p>
		</div>
		</center>
	</div>
	<div class="col-md-12">
		<h1>US Navy</h1>
		<center><h3>Main Laungage: Just do whatever your chief tells you to do/Manual labor</h3></center>
		<center>
		<div class="col-xs-12 lists">
		<p>Followed orders</p>
		<p>Fixed deisal engines</p>
		<p>traveled the world on humanitarian missions</p>
		<p>Followed more orders</p>
		<p>Worked in diverse teams</p>
		<p>Honorable Discharge</p>
        </div>
		</center>
	</div>
	
</div>
